:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(180, 2%, 8%);
  --greyColor: hsl(240, 2%, 52%);
  --lightgreyColor: #D9D9D9;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --fade:#5C5A5A;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'spectral';
}

p{
  color: var(--fade);
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  font-family: 'lato';
}

a{
  font-family: 'lato';
}

.container-fluid-6{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 700px;
  padding: 0 2rem;
  background: #ffff;  
  margin-top: 2rem;
}
.vmsSignUp{ 
  width: 50%;
  margin-top: -12rem;
  align-items: center;
  justify-content: center;
  letter-spacing: 0em;  
}
.vmsSignUp h3{
  font-family: 'Spectral';
  font-size: 60px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: left;
  color: #004B9D;
}
.vmsSignUp p{
  color: #666666;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-align: justify;
  font-family: 'lato';
  text-align: left;
}
.vmsImage5{
  width: 50%;
  margin-top: -6rem;
  align-items: center;
  justify-content: right;
}
.vmsImage5 img{
  height: 500px;
  display: block;
}