body {
  background: #F4F4F4;
}

.SignUp__Form__Container {
  display: block;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 93px 241px;
  gap: 88px;
  width: 1402px;
  height: 100rem;
  background: #FFFFFF;
  border-radius: 24px;
  margin-top: 4rem;
}

.SignUp__Form__Container__Input {
  /* position: absolute; */
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 55px;
  margin-top: -1rem;
  width: 1100px;
  height: 1039px;
}

.SignUp__Form__Container__Input legend {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-top: 3rem;

  color: #000000;
}

.SignUp__Form__Container__Input input {
  margin-top: 1rem;
  width: 70rem;
  padding: 20px;
  height: 5rem;
  border: 2px solid #999999;
  border-radius: 8px;
  

}

/* sign up style */

.Signed__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 83px 16px;
  align-items: center;
  background: #004B9D;
  color: #ffff;
  border-radius: 4px;
  margin-top: 4rem;
  margin-left: 20rem;
}
.Login__check li {
 margin-top: 1.2rem; 
 display: flex;
 flex-direction: row;
 gap: 10px;
 align-items: center;

}

.check_container {
  position: relative;
}

.checkbox {
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 2px solid #212fab;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  transition: all 0.3s linear;
}

.checkbox::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 20%;
  width: 6px;
  height: 12px;
  opacity: 0;
  transform: rotate(45deg) scale(0) translate(-50%, -50%);
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  transition: all 0.3s linear;
}

#checkbox:checked ~ .checkbox::after {
  opacity: 1 !important;
  transform: rotate(50deg) scale(1) translate(20%, -25%) !important;
}

#checkbox:checked ~ .checkbox {
  background: #212fab;
  border: none;
}

.hidden {
  display: none !important;
}

.Signup__toggle{
  position: absolute;
   margin-left: -3rem;
   margin-top: 3rem;
   width: 1.5rem;
   cursor: pointer;
}

.SignUp__Form__Container {
  display: block;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 93px 241px;
  gap: 88px;
  width: 100%;
  max-width: 1402px;
  height: 110rem;
  background: #FFFFFF;
  border-radius: 24px;
  margin-top: 4rem;
}

@media screen and (max-width: 1602px) {
    .SignUp__Form__Container {
        padding: 93px calc(12% + 10px);
        /* margin-left: 9rem; */
    }
   .SignUp__Form__Container__Input input {
      width: 100%;
      max-width: 800px;
    }
}






/* The media query for screens smaller than 768 pixels */
@media (max-width: 768px) {

  /* Change the font size and line height of the header */
  .Login__h1 {
    font-size: 30px;
    line-height: 2.5rem;
  }
}
@media  (max-width:1022px) {
  .SignUp__Form__Container__Input input {
    width: 80%;
    /* max-width: 800px; */
  }
}

@media (max-width: 786px) {
  .SignUp__Form__Container {
    padding: 3rem;
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-top: 2rem;
  }

  .SignUp__Form__Container__Input {
    align-items: center;
    width: 100%;
    height: auto;
  }

  .SignUp__Form__Container__Input legend {
    font-size: 20px;
    margin-top: 2rem;
  }

  .SignUp__Form__Container__Input input {
    width: 80%;
    max-width: 80px;
  }

  .toggle img {
    width: 10px;
    
    
    
  }
}
@media (max-width: 320px){
  .Login__Form__Container__Input input {
    width: 100%;
    max-width: 600px;
  }
  .Login__Form__Container {
    /* padding: 3rem; */
    width: 50%;
    /* height: auto; */
    border-radius: 10px;
    margin-top: 2rem;
  }
}

.tracker-box{
  /* background-color: #386489; */
  font-size: 14px;
  color:  #000;
  letter-spacing: 0.09em;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
}

.tracker-box div{
  margin: 5px 0;
}

.tracker-box .validated{
  color:  #000;
}

.list-icon{
  margin-right: 8px;
}

.list-icon.green{
  color: #0f0;
}
.p{
  /* position: absolute; */
  margin-top: 1rem;
  color:red;
  font-size: 20px;
}
.p1{
    position: absolute;
    margin-top: 1rem;
    color:red;
    font-size: 20px;
}



.progress-bg {
  /* width: 100%; */
  /* height: 0.25rem; */
  width: 100%;
  max-width: 600px;
  /* background-color: #fbfbfb; */
  border-radius: 0 0 0.2rem 0.2rem;
  position: relative;
}
#b{
  position: absolute;
  color: #000;
  /* margin-left: 6rem; */
  font-size: 14px;
  margin-top: 1.4rem;
}

.progress {
  width: 0%;
  height: 0.25rem;
  /* position: absolute; */
  border-radius: 0 0 0.2rem 0.2rem;
  transition: all 0.5s ease-out;
  margin-top: -1.1rem;
  margin-left: 5rem;
}
.strength p{
  margin-top: 4rem;
  margin-left: -0.1rem;
}

.message {
  font-size: 0.9rem;
  font-weight: 500;
  /* margin-top: 0.8rem; */
  letter-spacing: 0.05rem;
  /* color: #ff6837; */
  /* position: absolute; */
  margin-top: 1.6rem;
  margin-left: 2rem;
}

