.Forget__password {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  /* position: absolute; */
}

.Forget__password__header {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #004B9D;
}

.Forget__password__header5 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 180%;
  color: #666666;
}
.Forget__password__Form__layout 
{
  margin-left: -30rem;
}

.Forget__password__Form__layout legend {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-top: 3rem;
  color: #000000;
  margin-left: -300px;
}


.Forget__password__Form__layout input {
  margin-top: 1rem;
  width: 90%;
  padding: 20px;
  height: 6rem;
  border: 2px solid #999999;
  border-radius: 8px;
  /* width: 100%; */
  max-width: 1100px;
  position: absolute;
  margin: auto;
  margin-left: -24rem;
}

/* .Forget__password__Form__layout input { */
/* max-width: 600px; */
/* padding: 20px ; */
/* width: 100%; */
/* max-width: 100%; */
/* height: 5rem; */
/* border: 2px solid #999999; */
/* border-radius: 8px; */
/* margin-left: -300px; */
/* } */

.Forget__password__Form__layout button {
  width: 20%;
  min-width: 400px;
  height: 50px;
  /* padding: 8px; */
  padding: 15px 83px 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #EB6223;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin: auto;
  margin-top: 4rem;
  margin-left: 40px;
  color: #fff;
  font-size: 1rem;










}



/* Styles for screens smaller than 768px */
/* @media only screen and (max-width: 767px) { */
/* .Forget__password { */
/* padding-top: 14rem; */
/* } */
/*  */
/* .Forget__password__header { */
/* font-size: 36px; */
/* text-align: center; */
/* } */
/*  */
/* .Forget__password__header5 { */
/* font-size: 15px; */
/* text-align: center; */
/* margin-left: auto; */
/* } */
/*  */
/* .Forget__password__Form__layout input { */
/* width: 100%; */
/* max-width: 900px; */
/* } */
/* } */

/* Styles for screens larger than or equal to 768px */
/* @media only screen and (min-width: 768px) { */
/* .Forget__password { */
/* padding-top: 15rem; */
/* } */
/*  */
/* .Forget__password__header { */
/* font-size: 48px; */
/* text-align: center; */
/* } */
/*  */
/* .Forget__password__header5 { */
/* font-size: 24px; */
/* text-align: center; */
/* } */

/* .Forget__password__Form__layout input { */
/* width: 100%; */
/* max-width: 700px; */
/* margin-left: auto; */
/* margin-right: auto; */
/* } */
/* } */


.btnOrne a .orangeBtn:hover {
  background: #BC4E1C;
  color: white;
}

.btnOrne a .orangeBtn:active {
  background: #EF814F;
  color: white;
}

.btnOrne a .orangeBtn {
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 300px;
  max-width: 80%;
  height: 60px;
  background: #EB6223;
  border-radius: 4px;
  margin-top: 7rem;
  margin-left: calc(50% - 150px);

  /*link*/

  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: 'lato';
}

.btnOrne a .orangeBtn {
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 300px;
  max-width: 80%;
  height: 60px;
  background: #EB6223;
  border-radius: 4px;
  margin-top: 9rem;
  margin-left: calc(7% - 140px);

  /*link*/

  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: 'lato';
}

@media screen and (max-width: 600px) {
  .btnOrne a .orangeBtn {
    margin-left: calc(50% - (40% / 2));
  }
}

@media screen and (max-width: 1602px) {
  .btnOrne a .orangeBtn {
    margin-left: calc(40% - (40% / 2));
  }
}