:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(180, 2%, 8%);
  --greyColor: hsl(240, 2%, 52%);
  --lightgreyColor: #D9D9D9;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --fade:#5C5A5A;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'spectral';
}

p{
  color: var(--fade);
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  font-family: 'lato';
}

a{
  font-family: 'lato';
}

.container-fluid-lp-2{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 0 2rem;
  background: #fffafa;  
  margin-top: 2rem;
}
.vmsImage2-lp-2{
  width: 50%;
  margin-top: rem;
  align-items: center;
}
.vmsImage2-lp-2 img{
  height: 500px;
  display: block;
  justify-self: start;
  background-size: cover;
}
.vmsOpportunity-lp-2 { 
  width: 45%;
  margin-top: rem;
  align-items: center;
  justify-content: flex-end;
}
.vmsOpportunity-lp-2 h3{
  font-family: 'Spectral';
  font-size: 40px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: right;
  color: #004B9D;
}
.vmsOpportunity-lp-2 p{
  color: #666666;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-align: justify;
  font-family: 'lato';
  text-align: right;
}
.vmsOpportunity-lp-2 .learn_more-lp-2{
  justify-content: flex-end;
  margin-top: 4rem;
}
.vmsOpportunity-lp-2 .learn_more-lp-2 a{
  color: #EB6223;
  font-size: 15px;
  font-family: 'lato';
  font-weight: 600;
}
.vmsOpportunity-lp-2 .learn_more-lp-2 .vector-lp-2{
  width: 15px;
  height: 30px;
  margin-left: 0.5rem;
  cursor: pointer;
  text-align: right;
}
