:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(180, 2%, 8%);
  --greyColor: hsl(240, 2%, 52%);
  --lightgreyColor: #D9D9D9;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
}
*{
  font-family: 'spectral';
}
.jobRoles {
  display: flex;
  z-index: 100;
  position: fixed;
  width: 90.5%;
  align-items: center;
  justify-content: left;
  letter-spacing: 0em;
  background-color: #FFF;
  height: var(--headerHeight);
  border-bottom: 2px solid var(--greyColor);
  border-radius: 40px 40px 0px 0px;
}
.roleName{
  padding: 0.2rem;
  margin-top: 3.2rem;
  z-index: 1000;
}

.roleName h3 a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: #004B9D;
}
.roleName img{
  width: 12px;
  height: 17px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.roleName a:hover, .jobCategories .active, .roleName .active:focus, .roleName a:hover > a {
  color: #003C7E;
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .jobRoles {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .jobRoles {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 992px) {
  .jobRoles{
    padding: 0 6rem;
  }
}

@media screen and (max-width: 760px) {
  .jobRoles{
    padding: 0 4rem;
  }
  .roleName{
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .jobRoles{
    padding: 0 4rem;
  }
}
@media screen and (max-width: 480px) {
  .jobRoles{
    padding: 0 4rem;
  }
}
