.dropdownNew {
  width: 400px;
  margin: 50px auto;
  position: relative;
  user-select: none;
}

.dropdownNew .dropdown-btn{
  padding: 15px 20px;
  background: #FFF;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333333;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.dropdownNew .dropdown-content{
  position: absolute;
  margin-top: 1rem;
  padding: 15px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 600;
  color: #333333;
  width: 100%;
}

.dropdownNew .dropdown-content .dropdown-item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdownNew .dropdown-content .dropdown-item:hover{
  background: #D9D9D9;
}

