@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: 'spectral';
}

p{
  color: var(--fade);
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  font-family: 'lato';
  
}

a{
  font-family: 'lato';
}

.container-fluid-7{
  width: 100%;
  padding: 0 2rem;
  background: #fff; 
  margin-top: 2rem; 
}
.card_main{
  flex-direction: column;
  display: flex;
  transform-style: preserve-3d;
}
.heading{
  justify-content: space-between;
  margin-top: 5rem;
}
.heading h4{
  font-family: 'spectral';
  text-align: left;
  position: absolute;
  color: #333333;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  margin-top: rem;
  color: #004B9D;

}
.heading .see_more{
  justify-content: flex-end;
  text-align: right;
  right: 0;
  position: absolute;
}
.heading .see_more a{
  color: #004B9D;
  font-size: 15px;
  font-weight: 600;
  margin-top: -2rem;
}
.heading .see_more .vector{
  width: 15px;
  height: 30px;
  margin-top: -2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  text-align: right;
}
input[type=radio] {
  display: none;
}
.cards {
  width: 100%;
  min-height: 670px;
  display: flex;
  margin-top: 1rem;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
}
.cards label {
  position: absolute;
  justify-content: center;
  width: 69%;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .carrier{
  position: relative;
  height: 550px;
  width: 100%;
  padding: 30px 35px;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.45);
  border-radius: 24px;
  justify-content: space-between;
  transition: transform .4s ease;
}
.cards .card{
  margin-top: 3rem;
}
.card .infos{
  width: 70%;
  display: block;
  text-align: start;
  padding-top: 60px;
  margin-top: -5rem;
}
.card .infos .vec_front{
  margin-top: -0.5rem;
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 3.2rem;
  color: #004B9D;
}
.card .infos .vec_back{
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  left: 50rem;
  margin-top: -2.9rem;
}
.card .infos p{
  font-size: 18px;
  color: #666666;
  line-height: 180%;
  font-weight: 400;
  text-align: justify;
  font-family: 'lato';
  padding-left: 1rem;
}
.card .infos p .spann{
  font-size: 18px;
  color: #666666;
  line-height: 180%;
  font-weight: 400;
  text-align: justify;
  font-family: 'lato';
  padding-left: 1rem;
}
.card .card_image{
  width: 25%;
  right: 2rem;
  top: 4rem;
  position: absolute;
  border-radius: 100%;
}
.carrier .card_name h6{
 margin-top: 2rem;
 padding-left: 1rem;
 color: #004B9D;
 font-size: 20px;
}

.carrier .card_name p{
  margin-top: rem;
  padding-left: 1rem;
  font-size: 14px;
  line-height: 180%;
}

.carrier .card_name .p_second{
  font-size: 14px;
  line-height: 180%;
  margin-top: -1.5rem;
  padding-left: 1rem;
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
  transform: translate3d(-38%, 0, -220px);

  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
  transform: translate3d(-18.8%, 0, -120px);
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
  transform: translate3d(0, 0, 0);
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
  transform: translate3d(18.8%, 0, -120px);
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
  transform: translate3d(38%, 0, -220px);
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
