:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(180, 2%, 8%);
  --greyColor: hsl(240, 2%, 52%);
  --lightgreyColor: #D9D9D9;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --fade:#5C5A5A;
}

.bgImg{
  position: relative;
  padding: 0 0rem;
  width: 100%;
  left: 0;
  right: 0;
  display: block;
  top: 6rem;
}
.main-1 {
  width: 100%;
  margin-top: 8rem;
  align-items: center;
  justify-content: center;
  letter-spacing: 0em;
  
}
.main-1 .content{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main-1 .content h1{
  color: #004B9D;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.main-1 .content p{
  color: var(--fade);
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-align: justify;
  font-family: 'lato';
}

@media screen and (min-width: 1200px) {
  .main-1 {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .main-1 {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 992px) {
  .main-1 {
    padding: 1rem 6rem;
  }
}

@media screen and (max-width: 760px) {
  .main-1 {
    padding: 0.6rem 4rem;
  }
}

@media screen and (max-width: 576px) {
  .main-1{
    padding: 0.6rem 4rem;
  }
}
@media screen and (max-width: 480px) {
  .main-1{
    padding: 0.6rem 4rem;
  }
}
