:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(180, 2%, 8%);
  --greyColor: hsl(240, 2%, 52%);
  --lightgreyColor: #D9D9D9;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'spectral';
}
  
p{
  color: var(--fade);
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  font-family: 'lato';
}

a{
  font-family: 'lato';
}
.footer-container{
  align-items: center;
  width: 100%;
  height: 470px;
  padding: 0 2rem;
  background: #002D5E;
  margin-top: rem;
}
.footer_header{
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 80px;
}
.footer_logo{
  height: 60px;
  width: 60px;
  margin-top: 2rem;
}
.social_icons_footer .footer_icon{
  height: 50px;
  width: 50px;
  margin: 1rem;
  margin-top: 2.5rem;
}
.line{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  background: #413f3f;
}
.line_two{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin-top: 3rem;
  background: #413f3f;
}
.line_vetical{
  position: absolute;
  display: grid;
  left: 25rem;
  height: 40%;
  margin-top: 2.5rem;
  border-right:1px solid #FFF;
}
.footer_body{
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}
.usa_contact_footer{
  width: 30%;
}
.footer_body .raise{
  margin-top: -5rem;
}
.usa_contact_footer .footer_h4{
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  font-family: 'spectral';
  color: var(--whiteColor);
}
.usa_contact_footer li{
  color: #999999;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-align: justify;
  font-family: 'lato';
}
.usa_others_footer{
  width: 70%;
  padding: rem;
  position: relative;
  left: 8rem;
  justify-content: space-around;
}
.usa_others_footer .footer_h4{
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  font-family: 'spectral';
  color: var(--whiteColor);
  margin-left: rem;
}
.usa_others_footer ul li a{
  color: #999999;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-align: justify;
  font-family: 'lato';
}

.copy_right{
  text-align: right;
  color: #999999;
  line-height: 180%;
  font-size: 14px;
  position: relative;
  bottom: -4rem;
}
