.Login__Form__Container {
  display: block;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 93px 241px;
  gap: 88px;
  width: 1408px;
  height: 47rem;
  background: #FFFFFF;
  border-radius: 24px;
  margin-top: 4rem;
}

.Login__Form__Container__Input {
  /* position: absolute; */
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 55px;
  margin-top: -1rem;
  width: 1100px;
  height: 45rem;
}

.Login__Form__Container__Input legend {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-top: 3rem;

  color: #000000;
}

.Login__Form__Container__Input input {
  margin-top: 1rem;
  width: 70rem;
  padding: 20px;
  height: 5rem;
  border: 2px solid #999999;
  border-radius: 8px;
  

}
.Signup__toggle{
  position: absolute;
   margin-left: -3rem;
   margin-top: 3rem;
   width: 1.5rem;
   cursor: pointer;
}

.Login__Form__Container {
  display: block;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 93px 241px;
  gap: 88px;
  width: 100%;
  max-width: 1402px;
  height: 50rem;
  background: #FFFFFF;
  border-radius: 24px;
  margin-top: 4rem;
}

@media screen and (max-width: 1402px) {
    .Login__Form__Container {
        padding: 93px calc(10% + 10px);
    }
}



/* For screens smaller than 768px (mobile devices) */
@media (max-width: 786px) {
  .Login__Form__Container {
    padding: 3rem;
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-top: 2rem;
  }

  .Login__Form__Container__Input {
    align-items: center;
    width: 100%;
    height: auto;
  }

  .Login__Form__Container__Input legend {
    font-size: 20px;
    margin-top: 2rem;
  }

  .Login__Form__Container__Input input {
    width: 100%;
    max-width: 600px;
  }

  .Signup__toggle {
    margin-top: 2.8rem;
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
}
@media (max-width: 320px){
  .Login__Form__Container__Input input {
    width: 100%;
    max-width: 600px;
  }
  .Login__Form__Container {
    /* padding: 3rem; */
    width: 50%;
    /* height: auto; */
    border-radius: 10px;
    margin-top: 2rem;
  }
}


