:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(180, 2%, 8%);
  --greyColor: hsl(240, 2%, 52%);
  --lightgreyColor: #D9D9D9;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --fade:#5C5A5A;

}
*{
  font-family: 'spectral';
}

/*cards*/
.cardDropdownFull{
  width: 100%;
  padding: 2rem 0rem;  
  text-align: left;
  justify-content: space-between;
}

.cardDropdownFull .cardDropWrapper{
  width: 100%;
  padding: 0rem 0rem;
 }

.cardDropdownFull .cardDropWrapper label{
  color: var(--blackColor);
  font-family: 'Spectral';
  font-weight: 600;
  font-size: 20px;
  line-height: 200%;
}

.cardDropdownFull .cardDropWrapper #dropmenu{
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border: 2px solid #333333;
  color: #333333;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: #333333 !important;
}

.cardDropdownFull .cardDropWrapper .labelFlex{
  justify-content: space-between;
}

.cardDropdownFull .cardDropWrapper .labelFlex .textRange{
  color: #009D49;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
}

.cardDropdownFull .cardDropWrapper textarea{
  width: 100%;
  height: 100px;
  margin-top: -0.5rem;
  padding: 0.5rem 0.45rem;
  border-radius: 8px;
  border: 2px solid #333333;
}
