
/* circles and lines*/
.cont2{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  padding: 0 0rem;
}
.lines2{
  width: 50%;
  height: 45px;
  position: relative;
}
.lines2::after, .lines2::before{
  content: '';
  position: absolute;
  margin: auto;
  height: 5px;
  background: #D9D9D9;
  width: 70%;
  top: 45%;
}

.lines2::after{
  left: -10rem;
  background: #007E3A;
}
.lines2::before{
  right: -10rem;
}
.circleApp2{
  width: 40px;
  height: 40px;
  margin: auto;
  padding-top: 0.5rem; 
  border-radius: 50%;
  border: 4px solid #D9D9D9;
}
.one2{
  border: 4px solid #007E3A;
  font-weight: 700;
  margin-left: 8.5rem;
  color: #007E3A;
}
.two2{
  border: 4px solid #007E3A;
  font-weight: 700;
  color: #007E3A;
}
.three2{
  margin-right: 8.5rem;
}
/* circle end*/
