.profileWrapper {
  width: 100%;
  position: relative;
  height: 100vh;
}
.profile-container {
  display: flex;
  width: 100%;
  height: 76.5vh;
}
.children-container {
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  padding: 3rem;
  /* padding-top: 1.25rem; */
  /* padding-left: 1.25rem 20px; */
  /* padding-right: 1.25rem 20px; */
  overflow-y: scroll;
}

/* @media (min-width: 768px) {
  .children-container {
    width: 66.666667%;
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (min-width: 1024px) {
  .children-container {
    width: 75%;
    padding-top: 30px;
  }
}

@media (min-width: 1280px) {
  .children-container {
    width: 80%;
  }
} */
