.Success{
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: auto; */
  /* width: 100%; */
  gap: -3px;
}
.Success__Header{
font-family: 'Spectral';
font-style: normal;
font-weight: 700;
font-size: 48px;
color: #004B9D;
}
.Success__Header5{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 180%;
color: #666666;
}
.Success__Img__wrapper img{
  width: 15rem;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.Success__Btn {
  width: 30%;
  min-width: 100px;
  height: 50px;
  padding: 8px;
  border-radius: 10px;
  /* border: 2.5px solid #E0E1E4; */
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #EB6223;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
   display: block;
   margin: auto;
   margin-top: 4rem;
   margin-left: 36rem;
   color: #fff;
  font-size: 1rem;
}

.Success__Btn:hover {
  background-color:  #ffff;
  box-shadow: 0px 0px 20px -18px;
  color: #004B9D;
}

.Success__Btn:active {
  transform: scale(0.95);
}

:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(180, 2%, 8%);
  --greyColor: hsl(240, 2%, 52%);
  --lightgreyColor: #D9D9D9;
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --fade:#5C5A5A;
}

.btnOrang a .orangeBtn{
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 300px;
  height: 60px;
  background: #EB6223;
  border-radius: 4px;
  margin-top: 5rem;
  margin-left: -10rem;

  /*link*/

  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: 'lato';
}

.btnOrang a .orangeBtn:hover{
  background: #BC4E1C;
  color: white;
}

.btnOrang a .orangeBtn:active{
  background: #EF814F;
  color: white;
}

@media screen and (max-width: 768px) {
  .Success__Btn {
    width: 60%;
    min-width: 100px;
    height: 50px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: #004B9D;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-left: 0;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-left: auto;
  }
  
  .Success__Header {
    font-size: 36px;
    text-align: center;
  }
  
  .Success__Header5 {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
  }
  
  .Success__Btn:hover {
    background-color: #ffff;
    box-shadow: 0px 0px 20px -18px;
    color: #004B9D;
  }
  
  .Success__Btn:active {
    transform: scale(0.95);
  }
}