.head-filter{
  margin-top: 2rem;
}

.hrLine{
  min-height: 10px;
  margin-top: 1rem;
  position: absolute;
  right: 2rem;
  left: 2rem;
  border-bottom: 2px solid #999999;
}

.jobFilter{
  position: relative;
  left: 2rem;
  right: 2rem;
  margin-left: 1rem;
}

.jobFilter .dropFilter .dropFilter-btn{
  width: 180px;
  height: 55px;
  display: flex;
  gap: 8px;
  text-align: center;
  background: #FFF;
  border: 2px solid #004B9D;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #004B9D;
  font-family: 'Lato';
  line-height: 180%;
  padding: 15px 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.location{
  justify-content: space-evenly;
}
.location h5{
  margin-top: 0.4rem;
  font-size: 14px;
  font-family: 'lato';
  font-weight: 400;
  line-height: 180%;
}

/* .jobFilter .dropFilter .dropFilter-btn:hover{
  color: #FFF;
  background-color: #336FB1;
} */

.jobFilter .dropFilter .dropFilter-content{
  width: 180px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #F5F5F5;
  cursor: pointer;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  color: #000;
  position: absolute;
  z-index: 100;
  border-radius: 8px;
  border: 2px solid #004B9D;
  border-top: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  overflow-y: auto;
}

.jobFilter .dropFilter .dropFilter-content .dropFilter-item{
  width: 100%;
  cursor: pointer;
  transition: all 0.2s;
  padding: 15px;
  text-align: left;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 180%;
  border-bottom: 1px solid #CCCCCC;
}

.jobFilter .dropFilter .dropFilter-content .dropFilter-item:hover{
  background: #004B9D;
  color: #fff;
}

.clearFilter{
  float: inline-start;
  color: #004B9D;
  cursor: pointer;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 14px;
  position: relative;
  right: 0rem;
  line-height: 180%;
  margin-left: 6rem;
  margin-top: 2rem;
}
