
/* circles and lines*/
.cont1{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  padding: 0 0rem;
}
.lines1{
  width: 50%;
  height: 45px;
  position: relative;
}
.lines1::after, .lines1::before{
  content: '';
  position: absolute;
  margin: auto;
  height: 5px;
  background: #D9D9D9;
  width: 70%;
  top: 45%;
}
.lines1::after{
  left: -10rem;
}
.lines1::before{
  right: -10rem;
}
.circleApp1{
  width: 40px;
  height: 40px;
  margin: auto;
  padding-top: 0.5rem; 
  border-radius: 50%;
  border: 4px solid #D9D9D9;
}
.one1{
  border: 4px solid #007E3A;
  font-weight: 700;
  margin-left: 8.5rem;
  color: #007E3A;
}
.three1{
  margin-right: 8.5rem;
}
/* circle end*/
